@model DadosSensoresMvc.Models.DadosSensores

@{
	ViewData["Title"] = "Cadastrar Informações";
}

<form asp-action="Cadastrar" class="boxContainer" asp-controller="Cadastrar" method="post">
	<div class="py-4">
		<a class="btn btn-sm btn-outline-dark" asp-area="" asp-controller="Home" asp-action="Index">
			Voltar
		</a>
	</div>

	@if (!Html.ViewData.ModelState.IsValid)
	{
		<p class="alert alert-danger w-100 text-center mb-4">
			<small>Dados do formulário incorretos</small>
		</p>
	}

	<div class="row mt-5">
		<div class="col-sm-4">
			<div class="form-group">
				<label asp-for="@Model.Data" class="label">Data</label>
				<input asp-for="@Model.Data" class="form-control form-control-sm" type="date" placeholder="14/10/2010" />
				<small asp-validation-for="Data" class="invalid-feedback"></small>
			</div>
		</div>

		<div class="col-sm-4">
			<div class="form-group">
				<label asp-for="@Model.Temperatura" class="label">Temperatura</label>
				<input asp-for="@Model.Temperatura" class="form-control form-control-sm" type="number" maxlength="4" step="0.01" max="99" min="-30" placeholder="39.9°C" />
				<small asp-validation-for="Temperatura" class="invalid-feedback"></small>
			</div>
		</div>

		<div class="col-sm-4">
			<div class="form-group">
				<label asp-for="@Model.Umidade" class="label">Umidade</label>
				<input asp-for="@Model.Umidade" class="form-control form-control-sm" type="number" maxlength="4" step="0.01" max="99" min="-30" placeholder="39.9°C" />
				<small asp-validation-for="Umidade" class="invalid-feedback"></small>
			</div>
		</div>
	</div>

	<div class="row justify-content-end no-gutters">
		<div class="d-inline-block">
			<button class="btn btn-sm btn-primary" type="submit">Enviar</button>
		</div>
	</div>

</form>
